header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Calibri Light";

}
a:hover{
    color: lightgray;
}
p{
    font-family: Calibri;
    font-size: 20px;
}
.izlog{
    border: black solid 2px;
    max-width: 20vw;
    max-height: 35vw;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
}
.izlog img{
    max-width: 20vw;
    max-height: 20vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.gumbMinus{
    background-color: tomato;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 40px;

}
.gumbPlus{
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 40px;
}

#prijava{
    border: none;
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: Calibri;
    margin-left: 40%;
}

#prijava:hover{
    background-color: #cc5944;
    color: white;
    cursor: pointer;
}
#kontakt{
    font-family: "Calibri Light";
}
#kontakt h3{
    font-weight: normal;
}
#podaci{
    font-family: "Calibri Light";
    font-weight: bold;
}
#podaci input{
    border-radius: 10px;
    border: 1px black solid;
    height: 25px;
}
#podaci button{
    border-radius: 15px;
    background-color: tomato;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
}
#poruke{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 20%;
}
#formPrijava{
    margin-left: 40%;
    margin-top: 10%;

}
#formPrijava button{
    border-radius: 15px;
    background-color: tomato;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
}
#fieldPrijava{
    border: 3px solid tomato;
    border-radius: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Prijavabutton{
    color: white;
    font-family: "Calibri";

}

#formPrijava button:hover{
    background-color: #da462e;
    cursor: pointer;
}

#shop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#cart{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 30px;
}